<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <h1>Player: <%= playerName%></h1>
    <h1>Opponent: Computer</h1>
    <form action="/turn" method="post">
      <button type="submit" name="choice" value="rock">rock</button>
      <button type="submit" name="choice" value="paper">paper</button>
      <button type="submit" name="choice" value="scissors">scissors</button>
    </form>
  </body>
</html>
