<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hi, welcome to Rock paper scissors game!</h1>
    <p>What is your name, player?</p>
    <form action="/game" method="post">
      <input id="player-name" type="text" name="player" required>
      <input id="name-submit" type="submit" value="Submit">
    </form>
  </body>
</html>
