<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>You chose <%= playerChoice%> !</h1>
    <h1>The computer chose <%= computerChoice %>!</h1>
    <h1><%= result%></h1>
    <form action="/index" method="post">
  <button type="submit" name="action" value="restart">Restart the game</button>
  </form>
  </body>
</html>